name: Draft a release note
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  draft_release:
    name: Release Drafter
    runs-on: ubuntu-latest
    steps:
      - name: Run release-drafter
        uses: release-drafter/release-drafter@v6.2.0
        with:
          name: ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          version: "${{ github.ref_name }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
